{% extends 'boussole_partials/admin_impression.html.twig' %}

{% block title %}Impression liste de paiements au 4ème année | Administration C.S.P La Boussole{% endblock %}

{% block body %}
<script>
    window.onload = () => {
        window.print();
    }
</script> 
<section>
    <div class="container">
        <div class="row">

            <div class="">

                <!-- Card -->
                <div class="row">
                
                    <table class="table table-striped table-bordered table-collapsed">
                        <thead>
                            <tr>
                                <th colspan="11" class="text-uppercase text-center">Fiche de paiement pour l'année académique 2023 - 2024</th>
                            </tr>

                            <tr>
                                <th colspan="11" class="text-uppercase text-center">Classe : 4ème année</th>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    N°
                                </th>
                                <th rowspan="2">
                                    Noms et Prénoms
                                </th>
                                <th>
                                    1ère Tranche
                                </th>
                                <th colspan="2">
                                    2ème tranche
                                </th>
                                <th>
                                    3ème tranche
                                </th>
                                <th>
                                    4ème tranche
                                </th>
                                <th colspan="2">
                                    5ème tranche
                                </th>
                                <th>
                                    6ème tranche
                                </th>
                                <th>
                                    7ème tranche
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    SEPT
                                </td>
                                <td>
                                    OCT
                                </td>
                                <td>
                                    NOV
                                </td>
                                <td>
                                    DEC
                                </td>
                                <td>
                                    JAN
                                </td>
                                <td>
                                    FEV
                                </td>
                                <td>
                                    MARS
                                </td>
                                <td>
                                    AVR
                                </td>
                                <td>
                                    MAI
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        

                        {% for key, inscrit in inscrits_4emean %}

                            {% set montant_paiement = 0 %}
                            {% set tarif_mensuel = 0 %}

                            {% for paiement in inscrit.scolaritePrimaires %}
                                {% set montant_paiement =+ paiement.montantChiffre %}
                                {% set tarif_mensuel = paiement.tarifMensuel %}
                            {% endfor %}

                            {% set montant_dispo_1 = (tarif_mensuel * 2) - montant_paiement %}
                            {% set montant_dispo_2 = (tarif_mensuel * 3) - montant_paiement %}
                            {% set montant_dispo_3 = (tarif_mensuel * 4) - montant_paiement %}
                            {% set montant_dispo_4 = (tarif_mensuel * 5) - montant_paiement %}
                            {% set montant_dispo_5 = (tarif_mensuel * 6) - montant_paiement %}
                            {% set montant_dispo_6 = (tarif_mensuel * 7) - montant_paiement %}
                            {% set montant_dispo_7 = (tarif_mensuel * 8) - montant_paiement %}
                            {% set montant_dispo_8 = (tarif_mensuel * 9) - montant_paiement %}

                        <tr>
                            <td>
                                {{key + 1}}
                            </td>
                            <td>
                                {{inscrit.nom}} {{inscrit.prenom}}
                            </td>
                            <td class="text-center">
                                {% if montant_paiement == 0 %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 1) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > 0  and montant_paiement < (tarif_mensuel * 1) %}
                                    {{montant_paiement|number_format(0, '', ' ')}} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 1) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 2) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 1)  and montant_paiement < (tarif_mensuel * 2) %}
                                    {{ montant_dispo_1|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 2) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 3) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 2)  and montant_paiement < (tarif_mensuel * 3) %}
                                    {{ montant_dispo_2|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 3) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 4) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 3)  and montant_paiement < (tarif_mensuel * 4) %}
                                    {{ montant_dispo_3|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 4) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 5) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 4)  and montant_paiement < (tarif_mensuel * 5) %}
                                    {{ montant_dispo_4|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 5) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 6) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 5)  and montant_paiement < (tarif_mensuel * 6) %}
                                    {{ montant_dispo_5|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 6) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 7) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 6)  and montant_paiement < (tarif_mensuel * 7) %}
                                    {{ montant_dispo_6|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 7) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 8) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 7)  and montant_paiement < (tarif_mensuel * 8) %}
                                    {{ montant_dispo_7|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                            <td>
                                {% if montant_paiement == 0 or montant_paiement <= (tarif_mensuel * 8) %}
                                -
                                {% endif %}

                                {% if montant_paiement >= (tarif_mensuel * 9) %}
                                    {{tarif_mensuel|number_format(0, '', ' ')}} FCFA
                                {% endif %}

                                {% if montant_paiement > (tarif_mensuel * 8)  and montant_paiement < (tarif_mensuel * 9) %}
                                    {{ montant_dispo_8|number_format(0, '', ' ') }} FCFA <b class="text-success">+</b>
                                {% endif %}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="11" class="text-center">Aucun paiement n'est disponible pour la classe de 4ème année</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                
                </div>

            </div>

        </div> <!-- / .row -->
    </div>
</section>
{% endblock %}
