<div class="col-12 col-lg-3 col-xl-2 d-none d-lg-block px-lg-0 sidenav sidenav-right">
    <div class="my-7 my-lg-9 px-lg-7 border-left-lg border-gray-300">

        <!-- Heading -->
        <h6 class="text-uppercase fw-bold">
            Carnets
        </h6>

        <!-- Links -->
        <ul class="mb-0 text-uppercase list-group list-group-flush">
            <li class="list-item">
                <a class="list-link" href="{{path('app_carnet_all_inscription_primaire')}}" data-toggle="smooth-scroll">Inscription primaire</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="{{path('app_carnet_all_inscription_college')}}" data-toggle="smooth-scroll">Inscription collège</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="{{path('app_carnet_all_reinscription_primaire')}}" data-toggle="smooth-scroll">Réinscription primaire</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="{{path('app_carnet_all_scolarite_primaire')}}" data-toggle="smooth-scroll">Scolarité primaire</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="{{path('app_carnet_all_scolarite_college')}}" data-toggle="smooth-scroll">Scolarité collège</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#between" data-toggle="smooth-scroll">Tenues collège & primaire</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#between" data-toggle="smooth-scroll">Arriérés primaire</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="#between" data-toggle="smooth-scroll">Arriérés collège</a>
            </li>
        </ul>

    </div>
</div>